body{
    margin: 0;
    padding: 0;
    
}
#time{
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;


}
#topTime{
    display: flex;
    align-items: center;
    justify-content: center;
}
#tituloTime{
    font-size: 27pt;
    color:#c23949
}
#middleTime{
    display: grid;
    grid-template-columns:  1fr 1fr;
   


}
.middleContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right-style: inset;
}

.middleContainer img{
    max-width:200px;
    max-height:180px;
    width: auto;
    height: auto;
    background-color: #c23949;
    
}
#clientes{
    width: 100%;
    height: 100vh;
    background-color: #c0c0c0;
    
}
.textoMiddle{
    color: black;
    font-size: 13pt;
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 5px;
    text-align: center;
}
.textoBottom{
    text-align: center;
    color: black;
}
#bottomTime{
    display: flex;
    align-items: center;
}
.bordaFinal{
    background:#c23949;
    height: 6px;
}
#clientes{
    display: grid;
    grid-template-rows: 1fr 3fr;
}
#clientesTop{
    display: flex;
    align-items: center;
    justify-content: center;
}
#tituloCliente{
    font-size: 27pt;
    color: #ffffff;
    text-shadow: 7px 3px 7px #7d7778;
    background-color: #c23949;
    border-radius: 7px;
    padding: 5px;
}


.clientesBottom img{
    max-width:200px;
    max-height:180px;
    width: auto;
    height: auto;
    background-color: #c23949;
}
.clientesBottom{
    display: flex;
    align-items: normal;
    justify-content: space-evenly;

    
}
@media {
    
}

